%dot {
    content: '';
    width: 8px;
    height: 8px;
    display: block;
    border-radius: 50%;
    background-color: #fff;
}
%text-left {
    text-align: left;
}
.ri {
    > img { max-width: 100%; }
}
.color-blue {
    color: $c-blue;
}
.color-red {
    color: $c-red;
}
.text-left {
    @extend %text-left;
}
.section {
	padding: 5em 4%;
    position: relative;

	&.section--earth {
		background-color: $c-earth;
	}
	&.section--grey {
		background-color: $c-lightgrey;
	}

    &.section--profiles {
        position: relative;
        padding-top: 0;
    }
    &.section--whatwedo {
        padding-bottom: 2em;
    }
    &.section--contact {
        .contain--large {
            max-width: 28em;
        }
        .cols {
            padding-left: 6em;
            overflow: hidden;
        }
    }
}

.nav-item {
    display: inline-block;
    border-bottom: 2px solid transparent;
    color: #fff;
    font-weight: normal;
    @include font-size(1.4);
    margin: 0 1.6em;
    @include transition(0.2s ease all);

    // &:last-child {
    //     margin-right:
    // }

    &:hover,
    &.active {
        border-bottom: 2px solid #fff;;
        color: #fff;;
    }

}

.nav-home {
    float: left;
    color: #2F2F2F;
    background-color: #fff;
    border-radius: 50%;
    border: none;
    width: 34px;
    height: 34px;
    display: block;
    vertical-align: center;
    line-height: 25px;

    &:hover {
        border: none;
    }

    &:before {
        @include font-size(1.9);
        width: 34px;
        margin: 0 auto;
    }
}

.dots {
	position: relative;
	width: 0px;
	height: 10px;
	margin: 20px auto;
	display: block;

	&:before,
    &:after {
        @extend %dot;
        position: absolute;
        top: 0;
    }
    &:before {
        left: -10px;
        background-color: $c-red;
    }
    &:after {
        right: -10px;
        background-color: $c-blue;
    }

    &.dots--white:after,
    &.dots--white:before {
        background-color: #fff;
    }
    &.dots--large {
    	&:after,
    	&:before {
			width: 14px;
			height: 14px;
    	}
    	&:before {
    		left: -16px;
    	}
    	&:after {
			right: -16px;
    	}
    }
}

.title {
	text-transform: uppercase;
	@include font-size(1.6);
    font-family: $ff-title;
    font-weight: normal;
}

.cols {
	overflow: auto;
    max-width: 40em;
    margin: auto;

	.col-1-2 {
		width: 50%;
		float: left;
	}
	.col-1-3 {
		width: 33.33%;
		float: left;
	}
	.col-1-4 {
		width: 33.33%;
		float: left;
	}
}

.contain {
	max-width: 13em;
	margin: 2em auto;

    &.contain--large {
        max-width: 24em;
    }
}

.profile-pic {
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
}

.profile-title {
    margin: 1em auto 2em;
    text-transform: uppercase;
    font-family: $ff-title;
    font-weight: normal;
    position: relative;

    &:after {
        @extend %dot;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -26px;
        margin: auto;
    }
    &.color-red:after {
        background-color: $c-red;
    }
    &.color-blue:after {
        background-color: $c-blue;
    }

    &.profile-title--nodot:after {
     display: none;
    }
}

.separator {
    border-top: 1px solid $c-lightgrey;
    width: 980px;
    max-width: 90%;
    margin: 4em auto 1em;
}

.social-links {

}
.social-link {
    color: #fff;
    border-radius: 50%;
    border: none;
    width: 32px;
    height: 32px;
    display: inline-block;
    text-align: center;
    vertical-align: center;
    line-height: 33px;
    @include font-size(1.7);
    margin: 0 .4em;

    &:first-child {
        margin-left: 0;
    }

    &:hover {
        border: none;
    }

    &:before {
        width: 32px;
        margin: 0 auto;
    }
    &.icon-linkedin:before {
        position: relative;
        top: -1px;
    }

    .color-red & {
        background-color: $c-red;
        &:hover {
            background: fade-out($c-red, 0.8);
            color: $c-red;
        }
    }
    .color-blue & {
        background-color: $c-blue;
        &:hover {
            background: fade-out($c-blue, 0.8);
            color: $c-blue;
        }
    }
    > span {
        text-indent: -9999px;
        display: inline-block;
    }
}

.project {
    max-width: 1180px;
    margin: 0 auto;
    overflow: hidden;
    @extend %text-left;

    &.project--desc-right {
        .project-description {
            float: right;
        }
        .project-image {
            float: left;
        }
    }
}
.project-header {
    @include font-size(1.8);
}
.project-description {
    width: 28%;
    float: left;
    background-color: #fff;
    padding: 40px 40px 60px;
    @include font-size(1.6);
}
.project-image {
    width: 72%;
    float: right;
}

.section-arrow {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -26px;
    background: #fff;
    color: $c-text;
    border-radius: 50%;
    border: none;
    width: 58px;
    height: 58px;
    display: inline-block;
    text-align: center;
    vertical-align: center;
    line-height: 68px;
    @include font-size(1.7);

    &:hover {
        border: none;
        background-color: $c-earth;
        // color: #fff;
    }

    &:before {
        // width: 32px;
        margin: 0 auto 0;
    }

}
