$c-blue: #4990DA;
$c-red: #D44537;
$c-yellow: #FFC381;
$c-black: #2f2f2f;
$c-lightgrey: #D9D9D9;
$c-earth: #F5F5F3;

$c-bg: #fff;
$c-text: $c-black;

$ff: Karla, Arial, sans-serif;
$ff-title: Bebas, Arial, sans-serif;
